body {
    display: flex;
    background-color: #ffffff;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 600px;
    height: 100%;
    padding: 10px;
    background-color: #ffff;
    border-right: 1px solid #333333;
}

.login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #ffffff;
    height: 250px;
    padding: 20px;
}

.login-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form h2 {
    margin-bottom: 25px;
    font-size: 22px;
    font-weight: 700;
    color: #000000; /* #1f293f */
    text-align: center;
}

.login-form h2:hover {
    color: #333333;; /* #1f293f */
}

.login-form input {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: #ffffff; /* Cor de fundo para os inputs */
    box-sizing: border-box;
}

.options {
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-align: justify;
    align-items: center;
    margin-top: 20px;
}

.remember-me {
    display: flex;
    width: 25px;
    align-items: center;
    white-space: nowrap;
    font-size: 12px;
    color: #000;
}

.forgot-password {
    font-size: 12px;
    color: #000000;
    text-decoration: none;
    margin-left: 20px; /* Ajuste da margem para alinhar com a checkbox */
}

.forgot-password:hover {
    text-decoration: underline;
}

.login-form button {
    width: 300px;
    padding: 12px;
    background-color: #000; /* Cor de fundo unificada para o botão */
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #333333; /* Cor de fundo para o hover do botão */
}

.lembrar_senha {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.logo-ja-fiz {
    padding-left: 40px;
    height: 500px;
    width: 100%;
}