body {
    margin: 0;
    padding: 0;
    overflow: auto;
    font-family: 'Arial', sans-serif;
    background-color: #f1f1f1;
    color: #1f293f;
}

/* Nav */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffff;
    border-bottom: 1px solid black ;
    padding-bottom: 5px;
    margin-left: auto;
    height: 55px;
    width: 95%;
    z-index: 1;
}

/* Nav Esquerdo */

.div-nav-left {
    margin-left: 15px;
    align-items: center;
}

/* Nav Direito */

.div-nav-right {
    display: flex;
    justify-content: center;
    margin-right: 20px;
}

.div-user-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-user-nav h1 {
    padding-top: 5px;
}

.div-user-nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 12px;
    gap: 15px;
}

.div-user-nav h1 {
    align-items: center;
}

#exit-menu {
    display: flex;
    justify-content: center;
    width: 35px!important;
    height: 35px!important;
    padding: 0;
    color: #1f293f;
    cursor: pointer;
}

.left-icons {
    width: 35px!important;
    height: 35px!important;
    color: #ffff;
    padding-top: 15px;
}

#btn-sair {
    background-color: transparent;
    border: none;
}

.button-color-of-view {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#color-of-view {
    font-size: 30px;
    color: #1f293f;
}

/* Aside */

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    top: 0;
    left: 0;
    width: 5%;
    height: 100vh;
    background-color: #1f293f;

    position: fixed;
    z-index: 2;
}

.fa-right-from-bracket {
    color: #000;
}

aside ul img {
    margin-top: 28px;
    height: 45px;
}

aside ul i {
    font-size: 30px;
    color: white;
    margin-bottom: 25px;
    margin-top: 15px;
}

aside ul li {
    display: flex;
    justify-content: center;
}

#soma-icon {
    font-size: 35px;
}

.aside-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.aside-ul-content {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 700px;
}

#logo-dome {
    padding-top: 12px;
    height: 45px;
}

.div-menu-left {
    display: flex;
    justify-content: center;
}

/* MAIN */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.page-links {
    display: flex;
    gap: 10px; /* Espaço entre os links */
}

.page-links a {
    text-decoration: none; /* Remove o sublinhado */
    color: #009688; /* Cor dos links */
    padding: 5px 10px; /* Espaçamento interno dos links */
    border-radius: 5px; /* Arredondamento das bordas */
    background-color: #424244; /* Cor de fundo dos links */
    transition: background-color 0.3s ease; /* Efeito de transição */
}

.page-links a:hover {
    background-color: #009688; /* Cor de fundo ao passar o mouse */
    color: #1f293f; /* Cor do texto ao passar o mouse */
}

select {
    background-color: #fff; /* Cor de fundo branca */
    color: #000; /* Texto preto */
}

