{% load static %}

<aside>
    <a href="#"><img src="{% static 'partials/img/Branca.svg' %}" alt="o-dome" id="logo-dome"></a>
    <div class="aside-content">
        <ul class="aside-ul-content">
            {% for icon in aside_icons %}
            {% if icon.is_admin and is_admin %}
                 <li><a href="{{ icon.link }}"><i class="{{ icon.icon_class }}"></i></a></li>
            {% elif icon.is_user and is_user %}
                 <li><a href="{{ icon.link }}"><i class="{{ icon.icon_class }}"></i></a></li>
            {% elif not icon.is_admin and not icon.is_user %}
                 <li><a href="{{ icon.link }}"><i class="{{ icon.icon_class }}"></i></a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</aside>
