{% load static %}

<!-- Header e Nav -->

<header>
    <nav>

        <!-- Parte Esquerda Nav -->

        <div class="div-nav-left">
            <div class="div-menu-left">
                {% if is_admin %}
                <a href="{% url 'admin_app:hub' %}">
              {% elif is_user %}
                <a href="{% url 'user_app:home' %}">
              {% else %}
                <a href="#">
              {% endif %}
                <img src="{% static 'partials/img/logo-ja-fiz.png' %}" alt="Timesheet" style="height: 50px;">
              </a>
                
            </div>   
        </div>

        <!-- Parte Direita Nav -->

        <div class="div-nav-right">
            <div class="div-user-nav">
                <ul>
                    <li><h1>Olá, {{ user.username|capfirst }}</h1></li>

                            <!-- Formulário Sair-->

                    <form action="{% url 'logout' %}" method="get" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" id="btn-sair">
                            <i data-feather="log-out" id="exit-menu"></i>
                        </button>
                    </form>

                </ul>  
            </div>
            </div>
        </div>
    </nav>
</header>