{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'login/css/login.css' %}">
    <link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <div class="login-container">
        <div class="pre-login-container">
            <div class="login-form">
                <h2>Login</h2>
                {% if error %}
                    <p style="color: red;">{{ error|escape }}</p>
                {% endif %}
                <form method="post" autocomplete="off">
                    {% csrf_token %}
                    <input type="text" name="username" placeholder="Usuário" required>
                    <input type="password" name="password" placeholder="Senha" required autocomplete="off">

                    {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == "error" %}
                            <p style="color: red;">{{ message }}</p>
                        {% endif %}
                    {% endfor %}
                    {% endif %}
                

                    <button type="submit">Entrar</button>
                    <div class="options">
                        <label class="remember-me">
                            <input type="checkbox" name="remember_me" class="lembrar_senha"> Lembrar senha
                        </label>
                        <a href="#" class="forgot-password">Esqueci a senha</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="image-container">
        <img class="logo-ja-fiz" src="{% static 'login/image/logo-ja-fiz.png' %}" alt="logo-ja-fiz">
    </div>

</body>
</html>
