{% extends 'theme/base.html' %}
{% load static %}
{% block content %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'user/css/adicionar_atividade.css' %}">
<link rel="stylesheet" href="{% static 'user/css/table.css' %}">
<link rel="stylesheet" href="{% static 'user/css/minhas_atividades.css' %}">
<link rel="stylesheet" href="{% static 'user/css/modal.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/relatorio.css' %}">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

<main id="main-form">
    <h1 class="h1-gerar-relatorio">Gerar Relatório de Atividades</h1>

    <form method="GET" action="{% url 'admin_app:gerar_relatorio' %}">
        <div class="main-filters">
            <!-- Colaboradores -->
            <div class="filter-group">
                <label for="colaborador">Colaboradores:</label>
                <select id="colaborador" name="colaborador" class="select2" multiple>
                    {% for colaborador in colaboradores %}
                        <option value="{{ colaborador.id }}" {% if colaborador.id|stringformat:"s" in colaborador_ids %}selected{% endif %}>
                            {{ colaborador.username }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <!-- Clientes -->
            <div class="filter-group">
                <label for="cliente">Clientes:</label>
                <select id="cliente" name="cliente" class="select2" multiple>
                    {% for cliente in clientes %}
                        <option value="{{ cliente.id }}" {% if cliente.id|stringformat:"s" in cliente_ids %}selected{% endif %}>
                            {{ cliente.nome }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <!-- Serviços -->
            <div class="filter-group">
                <label for="servico">Serviços:</label>
                <select id="servico" name="servico" class="select2" multiple>
                    {% for servico in servicos %}
                        <option value="{{ servico.id }}" {% if servico.id|stringformat:"s" in servico_ids %}selected{% endif %}>
                            {{ servico.nome }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <!-- Atividades -->
            <div class="filter-group">
                <label for="atividade">Atividades:</label>
                <select id="atividade" name="atividade" class="select2" multiple>
                    {% for atividade in atividadegeral %}
                        <option value="{{ atividade.id }}" {% if atividade.id|stringformat:"s" in atividadegeral_ids %}selected{% endif %}>
                            {{ atividade.nome }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <!-- Data Inicial -->
            <div class="filter-group"  id="datas">
                <label for="hora">Data Inicial:</label>
                <input type="date" name="hora" value="{{ hora }}">
            </div>

            <!-- Data Final -->
            <div class="filter-group"  id="datas">
                <label for="data_fim">Data Final:</label>
                <input type="date" name="data_fim" value="{{ data_fim }}">
            </div>
        </div>

        <!-- Botões de Ação -->
        <div class="form-actions">
            <button type="submit">Filtrar</button>
            <button type="submit" name="gerar_pdf" value="true">Exportar PDF</button>
            <button type="submit" name="gerar_excel" value="true">Exportar Excel</button>
            {% url 'admin_app:gerar_relatorio' as rel_url %}
            <button type="button" onclick="window.location.href='{{ rel_url }}'" class="btn-danger">Limpar Filtros</button>
        </div>
    </form>
    
    <!-- Tabela de Atividades -->
    <h2 class="h2_atividades_filtradas">Atividades Filtradas</h2>
    <table class="activity-table">
        <thead>
            <tr>
                <th>Colaborador</th>
                <th>Cliente</th>
                <th>Serviço</th>
                <th>Atividade</th>
                <th>Data Inicial</th>
                <th>Data Final</th>
                <th>Duração</th>
            </tr>
        </thead>
        <tbody>
            {% for atividade in atividades %}
                <tr>
                    <td>{{ atividade.RAM_colaborador }}</td>
                    <td>{{ atividade.RAM_cliente }}</td>
                    <td>{{ atividade.RAM_servico }}</td>
                    <td>{{ atividade.RAM_atividade }}</td>
                    <td>{{ atividade.RAM_dataInicial|date:"d/m/Y H:i:s" }}</td>
                    <td>{{ atividade.RAM_dataFinal|date:"d/m/Y H:i:s" }}</td>
                    <td>{{ atividade.duracao_formatada }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7">Nenhuma atividade encontrada.</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6" style="text-align: right; font-weight: bold;">Total de Horas:</td>
                <td>{{ total_duracao }}</td>
            </tr>
        </tfoot>
    </table>
    
    <div class="pagination">
        <ul class="pagination-list">
            {% if page_obj.has_previous %}
                <li><a href="?page=1&{{ request.GET.urlencode|cut:'page=' }}">&laquo; Primeira</a></li>
                <li><a href="?page={{ page_obj.previous_page_number }}&{{ request.GET.urlencode|cut:'page=' }}">Anterior</a></li>
            {% else %}
                <li class="disabled">&laquo; Primeira</li>
                <li class="disabled">Anterior</li>
            {% endif %}
    
            <li class="current">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</li>
    
            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}&{{ request.GET.urlencode|cut:'page=' }}">Próxima</a></li>
                <li><a href="?page={{ page_obj.paginator.num_pages }}&{{ request.GET.urlencode|cut:'page=' }}">Última &raquo;</a></li>
            {% else %}
                <li class="disabled">Próxima</li>
                <li class="disabled">Última &raquo;</li>
            {% endif %}
        </ul>
    </div>

    <!--Script SELECT2-->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</main>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Inicializa o Select2 para cada select
        $('.select2').select2({
            placeholder: "Selecione...",
            allowClear: true,
            width: '100%'
        });
    });
</script>

<!-- SCRIPT PARA FILTRAR AS OPÇÕES -->
<script>
    // Script para manter o scroll
    document.addEventListener("DOMContentLoaded", function() {
        if (sessionStorage.getItem('scrollPosition')) {
            window.scrollTo(0, sessionStorage.getItem('scrollPosition'));
        }
        window.onbeforeunload = function() {
            sessionStorage.setItem('scrollPosition', window.scrollY);
        };
    });
</script>


{% endblock %}
