{% extends 'theme/base.html' %}
{% load static %}
{% block content %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'user/css/adicionar_atividade.css' %}">
<link rel="stylesheet" href="{% static 'user/css/table.css' %}">
<link rel="stylesheet" href="{% static 'user/css/minhas_atividades.css' %}">
<link rel="stylesheet" href="{% static 'user/css/modal.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/relatorio.css' %}">
{% endblock %}

<main id="main-form">
    <h1 class="h1-gerar-relatorio">Gerar Relatório de Atividades</h1>

    <form method="GET" action="{% url 'admin_app:gerar_relatorio' %}">
        <!-- Filtros -->
        <div class="main-filters">
    
            <!-- Colaboradores -->
            <div class="filter-group">
                <label>Colaboradores:</label>
                <input type="text" id="colaboradorSearch" onkeyup="filterOptions('colaboradorSearch', 'colaboradorList')" placeholder="Pesquisar colaboradores...">
                <div id="colaboradorList" class="filter-list">
                    {% for colaborador in colaboradores %}
                        <div>
                            <input type="checkbox" id="colaborador-{{ colaborador.id }}" name="colaborador" value="{{ colaborador.id }}" {% if colaborador.id|stringformat:"s" in colaborador_ids %}checked{% endif %}>
                            <label for="colaborador-{{ colaborador.id }}">{{ colaborador.username }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            
    
            <!-- Clientes -->
            <div class="filter-group">
                <label>Clientes:</label>
                <input type="text" id="clienteSearch" onkeyup="filterOptions('clienteSearch', 'clienteList')" placeholder="Pesquisar clientes...">
                <div id="clienteList" class="filter-list">
                    {% for cliente in clientes %}
                        <div>
                            <input type="checkbox" name="cliente" value="{{ cliente.id }}" {% if cliente.id|stringformat:"s" in cliente_ids %}checked{% endif %}>
                            <label>{{ cliente.nome }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
    
            <!-- Serviços -->
            <div class="filter-group">
                <label>Serviços:</label>
                <input type="text" id="servicoSearch" onkeyup="filterOptions('servicoSearch', 'servicoList')" placeholder="Pesquisar serviços...">
                <div id="servicoList" class="filter-list">
                    {% for servico in servicos %}
                        <div>
                            <input type="checkbox" name="servico" value="{{ servico.id }}" {% if servico.id|stringformat:"s" in servico_ids %}checked{% endif %}>
                            <label>{{ servico.nome }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
    
            <!-- Atividades -->
            <div class="filter-group">
                <label>Atividades:</label>
                <input type="text" id="atividadeSearch" onkeyup="filterOptions('atividadeSearch', 'atividadeList')" placeholder="Pesquisar atividades...">
                <div id="atividadeList" class="filter-list">
                    {% for atividade in atividadegeral %}
                        <div>
                            <input type="checkbox" name="atividade" value="{{ atividade.id }}" {% if atividade.id|stringformat:"s" in atividadegeral_ids %}checked{% endif %}>
                            <label>{{ atividade.nome }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            
    
            <!-- Data Inicial -->
            <div class="filter-group">
                <label for="hora">Data Inicial:</label>
                <input type="date" name="hora" value="{{ hora }}">
            </div>
    
            <!-- Data Final -->
            <div class="filter-group">
                <label for="data_fim">Data Final:</label>
                <input type="date" name="data_fim" value="{{ data_fim }}">
            </div>
        </div>
    
        <!-- Botões de Ação -->
        <div class="form-actions">
            <button type="submit">Filtrar</button>
            <button type="submit" name="gerar_pdf" value="true">Exportar PDF</button>
            <button type="submit" name="gerar_excel" value="true">Exportar Excel</button>
            {% url 'admin_app:gerar_relatorio' as rel_url %}
            <button type="button" onclick="window.location.href='{{ rel_url }}'" class="btn-danger">Limpar Filtros</button>
        </div>
    </form>
    
    <!-- Tabela de Atividades -->
    <h2 class="h2_atividades_filtradas">Atividades Filtradas</h2>
    <table class="activity-table">
        <thead>
            <tr>
                <th>Colaborador</th>
                <th>Cliente</th>
                <th>Serviço</th>
                <th>Atividade</th>
                <th>Data Inicial</th>
                <th>Data Final</th>
                <th>Duração</th>
            </tr>
        </thead>
        <tbody>
            {% for atividade in atividades %}
                <tr>
                    <td>{{ atividade.RAM_colaborador }}</td>
                    <td>{{ atividade.RAM_cliente }}</td>
                    <td>{{ atividade.RAM_servico }}</td>
                    <td>{{ atividade.RAM_atividade }}</td>
                    <td>{{ atividade.RAM_dataInicial|date:"d/m/Y H:i:s" }}</td>
                    <td>{{ atividade.RAM_dataFinal|date:"d/m/Y H:i:s" }}</td>
                    <td>{{ atividade.duracao_formatada }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7">Nenhuma atividade encontrada.</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6" style="text-align: right; font-weight: bold;">Total de Horas:</td>
                <td>{{ total_duracao }}</td>
            </tr>
        </tfoot>
    </table>
    
    <div class="pagination">
        <ul class="pagination-list">
            {% if page_obj.has_previous %}
                <li><a href="?page=1&{{ request.GET.urlencode|cut:'page=' }}">&laquo; Primeira</a></li>
                <li><a href="?page={{ page_obj.previous_page_number }}&{{ request.GET.urlencode|cut:'page=' }}">Anterior</a></li>
            {% else %}
                <li class="disabled">&laquo; Primeira</li>
                <li class="disabled">Anterior</li>
            {% endif %}
    
            <li class="current">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</li>
    
            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}&{{ request.GET.urlencode|cut:'page=' }}">Próxima</a></li>
                <li><a href="?page={{ page_obj.paginator.num_pages }}&{{ request.GET.urlencode|cut:'page=' }}">Última &raquo;</a></li>
            {% else %}
                <li class="disabled">Próxima</li>
                <li class="disabled">Última &raquo;</li>
            {% endif %}
        </ul>
    </div>
    
</main>

<!-- SCRIPT PARA FILTRAR AS OPÇÕES -->
<script>
    function filterOptions(searchId, listId) {
        const searchValue = document.getElementById(searchId).value.toLowerCase();
        const list = document.getElementById(listId);
        const options = list.getElementsByTagName('div');
        for (let option of options) {
            const label = option.getElementsByTagName('label')[0];
            if (label && label.textContent.toLowerCase().indexOf(searchValue) === -1) {
                option.style.display = 'none';
            } else {
                option.style.display = 'block';
            }
        }
    }

    // Script para manter o scroll
    document.addEventListener("DOMContentLoaded", function() {
        if (sessionStorage.getItem('scrollPosition')) {
            window.scrollTo(0, sessionStorage.getItem('scrollPosition'));
        }
        window.onbeforeunload = function() {
            sessionStorage.setItem('scrollPosition', window.scrollY);
        };
    });
</script>

{% endblock %}
