main {
    margin-left: 90px;
}


.chart-container {
    display: flex;
    flex-direction: column;
    width: 80%; /* Ajuste conforme necessário */
    max-width: 500px; /* Limita o tamanho */
    max-height: 390px;
    margin: 20px auto; /* Centraliza e adiciona espaçamento */
}

h2 {
    text-align: center;
    margin-top: 30px;
    font-size: 1.5em;
}

.date-filter {
    display: flex;
    gap: 15px;
    align-items: flex-end;
    justify-content: center;
    padding: 5px;
    border-radius: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group label {
    font-size: 14px;
    font-weight: 600;
    color: #1f293f;
    margin-bottom: 5px;
}

.input-group input {
    padding: 8px;
    border: 2px solid #1f293f;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    transition: 0.3s ease-in-out;
}

.input-group input:focus {
    border-color: #2ecc71;
}

.filter-btn {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #1f293f;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    max-width: 150px;
    transition: 0.3s ease-in-out;
}

.filter-btn:hover {
    background-color: #1e283b;
}

.chart-filter {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.chart-boxes {
    display: flex;
    flex-direction: row;
}

#barrasEmpilhadas {
    margin-top: 200px;
}

.buttons-hub {
    display: flex;
    gap: 1em;
}