/* Estilo geral */
#main-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1200px;
    margin: 20px auto 5px;
    padding: 20px;
    padding-right: 50px;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: #1f293f;
}

/* Odd e Even */

table.dataTable tbody tr:nth-child(odd) {
    background-color: #e0e0e0 !important; /* cor mais escura para linhas ímpares */
}

table.dataTable tbody tr:nth-child(even) {
    background-color: #ffffff !important; /* cor mais clara para linhas pares */
}


.table.dataTable tbody tr {
    background-color: none;
}

.odd {
    background-color: #111723;
}

/* Títulos */
.h1-gerar-relatorio {
    margin: 0;
}

.h2_atividades_filtradas {
    display: flex;
    padding: 0;
    margin: 0;
}

/* Estilo dos filtros */
.main-filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    padding-bottom: 5px;
    gap: 5px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.filter-group {
    flex: 1 1 20%;
    max-width: 250px;
    display: flex;
    flex-direction: column;

    padding-right: 15px;
    padding-left: 15px;
}

.dataTables_wrapper {
    padding-top: 7px;
    max-width: 1500px;
    min-width: 1100px;
}

/* Ocultar o select original para evitar duplicação */
.filter-group select {
    display: none;
}

/* Estilo do MultiSelect Dropdown */
.multiselect-dropdown {
    background: #303030;
    border: 1px solid #555;
    border-radius: 5px;
    color: white;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background 0.3s ease-in-out;
}

.multiselect-dropdown:hover {
    background: #444;
}

/* Lista de opções do MultiSelect */
.multiselect-dropdown-list {
    position: absolute;
    background: #303030;
    border: 1px solid #555;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    width: 100%;
    z-index: 10;
}

.multiselect-dropdown-list.active {
    display: block;
}

.multiselect-dropdown-list div {
    padding: 10px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.multiselect-dropdown-list div:hover {
    background: #555;
}

/* COR Preto DA LETRA DO FILTRO */
.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    color: #303030;
}

.select2-results__option--selectable {
    color: #303030;
}

/* Inputs e Selects */
input[type="text"],
input[type="date"],
select {
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 5px;
    padding-right: 5px;
    min-height: 32px!important;
    box-sizing: border-box;
    border: 1px solid #aaa!important;
    font-size: 100%;
    font-family: sans-serif;
    overflow: hidden;
    word-break: keep-all;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: white;
    color: #303030;
}

/* Placeholder */
input::placeholder {
    color: #bbb;
}

/* Multiselect Estilizado */
.multiselect-dropdown {
    background: #303030;
    border: 1px solid #555;
    border-radius: 5px;
    color: white;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background 0.3s ease-in-out;
}

.multiselect-dropdown:hover {
    background: #444;
}

/* Lista de opções */
.multiselect-dropdown-list {
    position: absolute;
    background: #303030;
    border: 1px solid #555;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    width: 100%;
    z-index: 10;
}


/* Botões */
.form-actions button {
    padding: 10px 20px;
    background-color: #1f293f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

button:hover {
    background-color: #111723;
    transform: scale(1.05);
}

.form-actions {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* Paginação */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.pagination-list {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 8px;
}
